<<<<<<< HEAD
extends layout

block content
    h1= message
    h2= error.status
=======
extends layout

block content
    h1= message
    h2= error.status
>>>>>>> 912bdb2cebcf9b1f5fe886018f4bde1322b0770a
    pre #{error.stack}