<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css.css">
  <title>Pamokos pridėjimas</title>
  <meta charset="utf-8">
</head>
<body>


<div align="center" class="container ">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><font size="6" color="white">@VK</font></li>
    <li><a href='/userProfile'>Paskyra</a></li>
    <li><a href='/lectureList'>Pamokos</a></li>

      <li><a href='/userLecture'>Mano pamokos</a></li>

	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><span class="glyphicon glyphicon-off"></span>Atsijungti</a></li>
    </ul>
  </div>
</nav>

<br>

<div class="container-fluid">
<div><h2>Tęsti pamoką (-as)</h2></div>
<div><h2>Pradėti naują pamoką</h2></div>

	</div>
</div>

<div class="container-fluid">
<h2>Pradėti</h2>
<p><font size="2">Norėdami pradėti pamoką filtrų pagalba pasirinkite Jums aktualiausią pamoką.</font></p>
<p><font size="2">Jeigu nemokate nei vienos programavimo kalbos mes rekomenduojame Javascript pradžiamokslį</font></p>
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-4">
					<p class="filter-type"><b>Programavimo kalba</b></p>
					 <div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pasirinkimai
						<span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-middle"> <!-- pakeistas dropdown menu bootstrap css faile -->
							<li><a href="#">PHP</a></li>
							<li><a href="#">HTML</a></li>
							<li><a href="#">CSS</a></li>
							<li><a href="#">JavaScript</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-7 col-md-7 col-lg-4">
					<p class="filter-type"><b>Dėstytojas</b></p>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pasirinkimai
						<span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-middle"> <!-- pakeistas dropdown menu bootstrap css faile -->
							<li><a href="#">Antanas</a></li>
							<li><a href="#">Petras</a></li>
							<li><a href="#">Jonas</a></li>
							<li><a href="#">Mykolas</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-4">
					<p class="filter-type"><b>Lygis</b></p>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pasirinkimai
						<span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-middle"> <!-- pakeistas dropdown menu bootstrap css faile -->
							<li><a href="#">Pradžiamokslis</a></li>
							<li><a href="#">Vidutinis</a></li>
							<li><a href="#">Pažengęs</a></li>
							<li><a href="#">Pro</a></li>
							<li><a href="#">Kaip sėmkes skaldau</a></li>
							<li><a href="#">Suprantu ką darau</a></li>
						</ul>
					</div>
				</div>
			</div>
</div>
<br>
<% for(var i=0; i<lectureList.length; i++) { %>
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <p><%= lectureList[i].programmingLanguage %></p>
      <br>
      <p><%= lectureList[i].userName %></p>
    </div>
    <div class="col-sm-4 col-md-10">
      <%= lectureList[i].description %>
      <br>
      <%if (lectureList[i].level == 'Pradžiamokslis') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
      <%if (lectureList[i].level == 'Vidutinis') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
      <%if (lectureList[i].level == 'Pažengęs') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
      <%if (lectureList[i].level == 'Pro') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
    </div>
    <div class="col-sm-4 col-md-2">
      <p align="center"><a href="/lectureSpecific/<%= lectureList[i]._id %>"><button type="button" class="btn btn-primary btn-xl">Pradėti</button></a></p>
    </div>
  <% } %>


<footer>
  <p align="center" class="blurry-text" ><font align="center" size="2">Visos teisės saugomos</font></p>
</footer>

</div>
</body>
</html>
