<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css.css">
  <title>Pamokos pridėjimas</title>
  <meta charset="utf-8">
</head>
<body>


<div align="center" class="container ">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><font size="6" color="white">@VK</font></li>
    <li><a href='/userProfile'>Paskyra</a></li>
    <li><a href='/lectureList'>Pamokos</a></li>

      <li><a href='/userLecture'>Mano pamokos</a></li>

	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><span class="glyphicon glyphicon-off"></span>Atsijungti</a></li>
    </ul>
  </div>
</nav>

<div align="center" class="container ">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-2">
			<h1 align="left"><%= userName %></h1>
			<img  align="center" class="img-responsive" src="img/student.jpg">
    </div>
      <div class="col-sm-10">
        <div>
          <p><%= lectureSpecific.programmingLanguage %></p>
        </div>
        <div>
          <%if (lectureSpecific.level == 'Pradžiamokslis') { %>
            <p><%= lectureSpecific.level %></p>
          <% } %>
          <%if (lectureSpecific.level == 'Vidutinis') { %>
            <p><%= lectureSpecific.level %></p>
          <% } %>
          <%if (lectureSpecific.level == 'Pažengęs') { %>
            <p><%= lectureSpecific.level %></p>
          <% } %>
          <%if (lectureSpecific.level == 'Pro') { %>
            <p><%= lectureSpecific.level %></p>
          <% } %>
        </div>
        <div>
          <p><%= lectureSpecific.description %></p>
        </div>
      </div>
      <div>
        <h3>Nagrinėjamos temos</h3>
        <div>
          <% for(var i = 0; i<lectureSpecific.themes.length; i++) { %>
            <div class="row">
              <div class="col-sm-9"><%= lectureSpecific.themes[i].name %>
              </div>
              <div class="col-sm-3">
                <a href="/lectureSpecific/<%= lectureSpecific._id %>/theme/<%= lectureSpecific.themes[i]._id%>/<%= i %>"<button type="button" class="btn btn-primary btn-xl">Pradėti</button></a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
