<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css.css">
  <title>Pamokos pridėjimas</title>
  <meta charset="utf-8">
</head>
<body>


<div align="center" class="container ">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li><font size="6" color="white">@VK</font></li>
    <li><a href='/userProfile'>Paskyra</a></li>
    <li><a href='/lectureList'>Pamokos</a></li>
    <li class="active"><a href='/userLecture'>Mano pamokos</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><span class="glyphicon glyphicon-off"></span>Atsijungti</a></li>
    </ul>
  </div>
</nav>
<h3>Pamokos</h3>
<a href="/lectureAdd"><button type="button" class="btn btn-primary btn-xl">Nauja pamoka</button></a>
<% for(var i=0; i<lectureList.length; i++) { %>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-12">
      <p><%= lectureList[i].programmingLanguage %></p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-12">
      <p><%= lectureList[i].description %></p>
      <br>
      <%if (lectureList[i].level == 'Pradžiamokslis') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
      <%if (lectureList[i].level == 'Vidutinis') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
      <%if (lectureList[i].level == 'Pažengęs') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
      <%if (lectureList[i].level == 'Pro') { %>
        <p><%= lectureList[i].level %></p>
      <% } %>
    </div>
    <div class="col-sm-2 col-md-12 col-lg-12">
      <p align="center"><a href="#"><button type="button" class="btn btn-primary btn-xl">Sustabdyti</button></a></p>

    	<p align="center"><a href="#"><button type="button" class="btn btn-primary btn-xl">Redaguoti</button></a></p>

      <p align="center"><a href="/lectureSpecific/<%= lectureList[i]._id %>/delete"><button type="button" class="buttonDel btn btn-primary btn-xl">Trinti</button></a></p>
    </div>
  </div>
  <% } %>
</div>
<script>
 $('.buttonDel').on('click', function(e) {
   if(!confirm('Ar Jūs įsitikinę dėl šios pamokos trynimo?'))
    e.preventDefault();
 });
</script>
</body>
</html>
